## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [29]:
mi_lista=["Lima","Ayacucho","Amazonas","Iquitos","Puerto Maldonado","Puno","Huanuco"]
print(mi_lista)

['Lima', 'Ayacucho', 'Amazonas', 'Iquitos', 'Puerto Maldonado', 'Puno', 'Huanuco']

2) Imprimir por pantalla el segundo elemento de la lista

In [30]:
print(mi_lista[1])

Ayacucho

3) Imprimir por pantalla del segundo al cuarto elemento

In [31]:
print(mi_lista[1:4])

['Ayacucho', 'Amazonas', 'Iquitos']

4) Visualizar el tipo de dato de la lista

In [32]:
print(type(mi_lista))

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [33]:
print(mi_lista[2:])

['Amazonas', 'Iquitos', 'Puerto Maldonado', 'Puno', 'Huanuco']

6) Visualizar los primeros 4 elementos de la lista

In [34]:
print(mi_lista[:4])

['Lima', 'Ayacucho', 'Amazonas', 'Iquitos']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [35]:
mi_lista.append("Lima") #No ocaciona ningun error sino se aumenta como un valor mas
print(mi_lista)

['Lima', 'Ayacucho', 'Amazonas', 'Iquitos', 'Puerto Maldonado', 'Puno', 'Huanuco', 'Lima']

In [36]:
mi_lista.append(2)
print(mi_lista)

['Lima', 'Ayacucho', 'Amazonas', 'Iquitos', 'Puerto Maldonado', 'Puno', 'Huanuco', 'Lima', 2]

8) Agregar otra ciudad, pero en la cuarta posición

In [37]:
mi_lista.insert(3,"Piura")
print(mi_lista)

['Lima', 'Ayacucho', 'Amazonas', 'Piura', 'Iquitos', 'Puerto Maldonado', 'Puno', 'Huanuco', 'Lima', 2]

9) Concatenar otra lista a la ya creada

In [38]:
mi_lista.extend([1,4,5])
print(mi_lista)

['Lima', 'Ayacucho', 'Amazonas', 'Piura', 'Iquitos', 'Puerto Maldonado', 'Puno', 'Huanuco', 'Lima', 2, 1, 4, 5]

In [39]:
nueva_lista=["Cajamarca","Cusco","Arequipa"]
mi_lista.extend(nueva_lista) # Concatenando la lista nueva a mi_lista
print(mi_lista)

['Lima', 'Ayacucho', 'Amazonas', 'Piura', 'Iquitos', 'Puerto Maldonado', 'Puno', 'Huanuco', 'Lima', 2, 1, 4, 5, 'Cajamarca', 'Cusco', 'Arequipa']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [42]:
mi_lista.index("Lima") # la particularidad es q si existen 2 valores con el mismo valor, 
                       # python imprime el primer elemento encontrado.

0

11) ¿Qué pasa si se busca un elemento que no existe?

In [43]:
mi_lista.index("Barranco") # Al no encontrar un elemento en una lista sale el ValueError, 
                           # que no esta deficnido en la lista

ValueError: 'Barranco' is not in list

12) Eliminar un elemento de la lista

In [44]:
mi_lista.remove("Lima")# Se elimino el pirmer elemento "lima" encontrado
print(mi_lista)

['Ayacucho', 'Amazonas', 'Piura', 'Iquitos', 'Puerto Maldonado', 'Puno', 'Huanuco', 'Lima', 2, 1, 4, 5, 'Cajamarca', 'Cusco', 'Arequipa']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [45]:
mi_lista.remove("Barranco")# sale error por q no pertenece el elemento buscado a eliminar a la lista
print(mi_lista)

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [48]:
nueva_variable=mi_lista.pop()
print(nueva_variable)

Arequipa

15) Mostrar la lista multiplicada por 4

In [49]:
nueva_lista_mult=mi_lista*4
print(nueva_lista_mult)

['Ayacucho', 'Amazonas', 'Piura', 'Iquitos', 'Puerto Maldonado', 'Puno', 'Huanuco', 'Lima', 2, 1, 4, 5, 'Cajamarca', 'Cusco', 'Ayacucho', 'Amazonas', 'Piura', 'Iquitos', 'Puerto Maldonado', 'Puno', 'Huanuco', 'Lima', 2, 1, 4, 5, 'Cajamarca', 'Cusco', 'Ayacucho', 'Amazonas', 'Piura', 'Iquitos', 'Puerto Maldonado', 'Puno', 'Huanuco', 'Lima', 2, 1, 4, 5, 'Cajamarca', 'Cusco', 'Ayacucho', 'Amazonas', 'Piura', 'Iquitos', 'Puerto Maldonado', 'Puno', 'Huanuco', 'Lima', 2, 1, 4, 5, 'Cajamarca', 'Cusco']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [50]:
mi_tupla=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [51]:
print(mi_tupla[10:15])

(11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [52]:
20 in mi_tupla

True

In [53]:
30 in mi_tupla

False

In [54]:
15 and 20 in mi_tupla

True

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [55]:
"Paris" in mi_lista

False

In [58]:
elemento="Paris"
if elemento in mi_lista:
    print("El elemento",elemento,"ya existe y no fue agregado")
else:
    mi_lista.append(elemento)
    print("El elemento",elemento,"ha sido agregado al final de la lista")
    print(mi_lista)

El elemento Paris ha sido agregado al final de la lista
['Ayacucho', 'Amazonas', 'Piura', 'Iquitos', 'Puerto Maldonado', 'Puno', 'Huanuco', 'Lima', 2, 1, 4, 5, 'Cajamarca', 'Cusco', 'Paris']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [59]:
mi_lista.append(elemento)

In [62]:
print(mi_lista)

['Ayacucho', 'Amazonas', 'Piura', 'Iquitos', 'Puerto Maldonado', 'Puno', 'Huanuco', 'Lima', 2, 1, 4, 5, 'Cajamarca', 'Cusco', 'Paris', 'Paris']

In [61]:
print(mi_lista.count("Paris"))
print(mi_lista.count("Lima"))

2
1

21) Convertir la tupla en una lista

In [63]:
tu_lista=list(mi_tupla)
print(tu_lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [65]:
var1,var2,var3,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_=mi_tupla
print(var1,var2,var3)

1 2 3

In [68]:
primero=mi_tupla[0] 
segundo=mi_tupla[1]
tercero=mi_tupla[2]
print(primero,segundo,tercero)

1 2 3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [70]:
lista_para_diccionario=mi_lista
mi_diccionario={"ciudad":lista_para_diccionario[0],"pais":lista_para_diccionario[1],
                "continente":lista_para_diccionario[2],"distrito":lista_para_diccionario[3],
                "departamento":lista_para_diccionario[4],"planeta":lista_para_diccionario[5],
                "urbanizacion":lista_para_diccionario[6],"hacentamiento":lista_para_diccionario[7],
                "clave9":lista_para_diccionario[8],"clave10":lista_para_diccionario[9],
                "clave11":lista_para_diccionario[10],"clave12":lista_para_diccionario[11],
                "clave13":lista_para_diccionario[12],"clave14":lista_para_diccionario[13],
                "clave15":lista_para_diccionario[14],"clave16":lista_para_diccionario[15]}

print(mi_diccionario)

{'ciudad': 'Ayacucho', 'pais': 'Amazonas', 'continente': 'Piura', 'distrito': 'Iquitos', 'departamento': 'Puerto Maldonado', 'planeta': 'Puno', 'urbanizacion': 'Huanuco', 'hacentamiento': 'Lima', 'clave9': 2, 'clave10': 1, 'clave11': 4, 'clave12': 5, 'clave13': 'Cajamarca', 'clave14': 'Cusco', 'clave15': 'Paris', 'clave16': 'Paris'}

In [74]:
mi_diccionario2={"ciudad":mi_lista,"pais":mi_tupla,
                "continente":["Asia","Europa","Oceania","Africa","America"],
                "distrito":["Barranco","Jesus Maria","Lince","Callao","Villa Maria"]}

print(mi_diccionario2)

{'ciudad': ['Ayacucho', 'Amazonas', 'Piura', 'Iquitos', 'Puerto Maldonado', 'Puno', 'Huanuco', 'Lima', 2, 1, 4, 5, 'Cajamarca', 'Cusco', 'Paris', 'Paris'], 'pais': (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20), 'continente': ['Asia', 'Europa', 'Oceania', 'Africa', 'America'], 'distrito': ['Barranco', 'Jesus Maria', 'Lince', 'Callao', 'Villa Maria']}

24) Imprimir las claves del diccionario

In [75]:
print(mi_diccionario2.keys())

dict_keys(['ciudad', 'pais', 'continente', 'distrito'])

25) Imprimir las ciudades a través de su clave

In [76]:
print(mi_diccionario2.values())

dict_values([['Ayacucho', 'Amazonas', 'Piura', 'Iquitos', 'Puerto Maldonado', 'Puno', 'Huanuco', 'Lima', 2, 1, 4, 5, 'Cajamarca', 'Cusco', 'Paris', 'Paris'], (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20), ['Asia', 'Europa', 'Oceania', 'Africa', 'America'], ['Barranco', 'Jesus Maria', 'Lince', 'Callao', 'Villa Maria']])