## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
x=10
print(x)

10

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
k=8.5
print(type(k))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(x))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
b="Mayk"

5) Crear una variable que contenga un número complejo

In [5]:
c = 5+5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
print(type(c))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [12]:
import math # Importamos la biliotecla "Math"
d = math.pi # Llamamos a la variable "Pi"
print("Imprimiendo Pi: ",d) # Imprimimos "d" sin redondear
e = round(d,4) # Redondeando "Pi" a 4 decimales
print("imprimiendo redondeado ",e) # Imprimiendo "e" redondeado

Imprimiendo Pi:  3.141592653589793
imprimiendo redondeado  3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [40]:
f = 'True' #No se trata de lo mismo ya que el valor True no es igual a su string 'True'.
g = True
f==g

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [41]:
print(type(f))
print(type(g))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [15]:
h = 5
h+=6
h+=0.35
print(h)

11.35

11) Realizar una operación de suma de números complejos

In [16]:
(5+6j)+(8+2j)

(13+8j)

12) Realizar una operación de suma de un número real y otro complejo

In [17]:
5+(8+2j)

(13+2j)

13) Realizar una operación de multiplicación

In [43]:
print(9*8)

72

14) Mostrar el resultado de elevar 2 a la octava potencia

In [44]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [23]:
i = 27/4
print(i)

6.75

16) De la división anterior solamente mostrar la parte entera

In [27]:
ll=int(i) # 27//4
print(ll)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [25]:
j=27
k=4
l=j%k
print(l)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [28]:
print(ll*k+l)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [30]:
m = "Mayk "
n = "Joel"
o = m+n
print(o)

Mayk Joel

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [31]:
p = "2" # Ocurre que es falso por q se esta comparando tipos de datos diferentes
q = 2
p == q

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [32]:
r = int(p) #Siendo r=p
r == q

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [33]:
s = float('3,8') # Arroja el error por que los numeros estan escrito con coma como si fuera una 
                 # palabra no nun numero, por eso no puede convertirse en flotante

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [35]:
t = 3
t-=1
print(t)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [39]:
1 << 2 # cuando es doble se esta analizando en binario, te dice 1 corre 2 espacios a la izquierda 
       # en binario y dame el resultado.
       # Da el resultado ya q es 0100 en binario y en decimales es (2**3)*0+(2**2)*1+(2**1)*0+(2**0)*0 = 4
       # El sistema de numeracion binaria que utiliza las maquinas de "0" y "1" donde "0" = False y "1" = True

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [37]:
2 + '2' # Muestra el error por q uno es Str y el otro un Int; no serian lo mismo, diferente tipo de variable 
        # No, por q numeros cumplen diferentes reglas a los strings

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [36]:
w = 3
z = "Mayk "
wz = z*w
print(wz)

Mayk Mayk Mayk